Repository cjunks94/go-sqs-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, gofmt -w, goimports -w

fix(linting): resolve frontend and backend linting errors
  .golangci.yml
  cmd/sqs-ui/main.go
  internal/demo/demo.go
  internal/demo/demo_test.go
  internal/sqs/sqs.go
  internal/sqs/sqs_test.go
  internal/static/static.go
  internal/types/types_test.go
  internal/websocket/websocket.go
  static/modules/messageExport.js
  static/modules/messageHandler.js
  static/modules/messageRetry.js
  static/modules/queueBrowser.js
  static/modules/queueStatistics.js
  static/modules/sqsApp.js
  test/awsContextHandler.test.js
  test/helpers/test_helpers.go
  test/messageExport.test.js
  test/messageHandler.test.js
  test/playwright/test-with-playwright-mcp.js
  test/queueBrowser.test.js
  test/queueStatistics.test.js
Due: eslint --fix --max-warnings 0, prettier --write, gofmt -w, goimports -w

feat: replace alert/confirm dialogs with toast notifications
  static/css/toast.css
  static/index.html
  static/modules/messageFilter.js
  static/modules/messageSender.js
  static/modules/sqsApp.js
  static/modules/toastManager.js
  test/messageSender.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: repair empty golangci-lint configuration
  .golangci.yml
Due: prettier --write

fix: resolve keyboardNavigation test failures
  test/keyboardNavigation.test.js
  test/messageHandler.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(tests): refactor messageHandler tests to use integration testing approach
  test/messageHandler.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(tests): separate E2E (Playwright) from unit tests (Vitest)
  .github/workflows/ci.yml
  package.json
  vitest.config.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(tests): fix 15 failing unit tests across 3 test suites
  static/modules/messageHandler.js
  test/messageOrdering.test.js
  test/pagination.test.js
  test/queueStatistics.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(ci): resolve failing JS tests and Go linter configuration
  .golangci.yml
  internal/sqs/sqs_test.go
  test/queueBrowser.test.js
Due: eslint --fix --max-warnings 0, prettier --write, gofmt -w, goimports -w

fix(ci): adjust linter config and coverage thresholds for CI compatibility
  .golangci.yml
  vitest.config.js
Due: eslint --fix --max-warnings 0, prettier --write

docs: fix README badge branches to point to master
  README.md
Due: prettier --write

fix(ci): resolve build path and security scan permissions
  .github/workflows/ci.yml
Due: prettier --write

chore(ci): upgrade Codecov action from v4 to v5
  .github/workflows/ci.yml
Due: prettier --write

test: improve test coverage and demo mode functionality
  internal/demo/demo.go
  internal/demo/demo_test.go
  test/pagination.test.js
  test/themeManager.test.js
  test/webSocketManager.test.js
Due: eslint --fix --max-warnings 0, prettier --write, gofmt -w, goimports -w

test: improve DLQ feature test coverage for queueStatistics and messageExport
  test/messageExport.test.js
  test/queueStatistics.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(security): validate WebSocket origin to prevent CORS attacks
  internal/websocket/websocket.go
  internal/websocket/websocket_test.go
Due: gofmt -w, goimports -w

chore(lint): fix import/order warnings in three test files
  test/pagination.test.js
  test/themeManager.test.js
  test/webSocketManager.test.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(lint): migrate .golangci.yml to v2 format
  .golangci.yml
  internal/demo/demo.go
Due: prettier --write, gofmt -w, goimports -w

test(sqs): cover RetryMessage and tag-filter env vars (#9)
  internal/sqs/sqs_test.go
  test/helpers/test_helpers.go
Due: gofmt -w, goimports -w

fix(ci): make pre-commit hook handle multi-directory Go diffs
  .husky/pre-commit
Due: none

test(frontend): cover toastManager and queueAttributesHandler (#10)
  test/queueAttributesHandler.test.js
  test/toastManager.test.js
Due: eslint --fix --max-warnings 0, prettier --write

feat(server): fall back to next free port when default is in use (#15)
  cmd/sqs-ui/listen.go
  cmd/sqs-ui/listen_test.go
  cmd/sqs-ui/main.go
Due: gofmt -w, goimports -w

fix(security): set ReadHeaderTimeout on http.Server (gosec G114)
  cmd/sqs-ui/main.go
Due: gofmt -w, goimports -w

chore(ci): bump golangci-lint-action to v8 for v2 config support
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci.yml
Due: prettier --write

chore(format): apply prettier to docs, tests, and configs
  .codecov.yml
  .lintstagedrc.json
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  CLAUDE.md
  MVP-STATUS.md
  PLAN.md
  TEST_REPORT.md
  USER_GUIDE.md
  eslint.config.js
  playwright.config.ts
  test/e2e/debug-demo.spec.ts
  test/e2e/keyboard-navigation.spec.ts
  test/e2e/message-export.spec.ts
  test/e2e/message-rotation.spec.ts
  test/e2e/queue-browser.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(ci): remove abandoned ci-enhanced.yml workflow
  .github/workflows/ci-enhanced.yml
Due: prettier --write

fix(ci): replace hanging version check with binary presence test
  .github/workflows/ci.yml
Due: prettier --write

fix(deps): bump golang.org/x/net to v0.38.0 to patch CVEs
  .github/workflows/ci.yml
  README.md
  go.mod
  go.sum
Due: prettier --write

fix(deps): bump golang.org/x/net to v0.56.0 to fully clear Trivy alerts
  .github/workflows/ci.yml
  README.md
  go.mod
  go.sum
Due: prettier --write

fix(gitignore): anchor binary patterns to repo root
  .gitignore
Due: none

docs: fix stale paths, test counts, and clone URL
  CLAUDE.md
  README.md
Due: prettier --write

fix(module): correct module path to github.com/cjunks94/go-sqs-ui
  cmd/sqs-ui/main.go
  go.mod
  internal/sqs/sqs.go
  internal/sqs/sqs_test.go
  internal/websocket/websocket.go
  internal/websocket/websocket_test.go
  test/integration/main_test.go
Due: gofmt -w, goimports -w

fix(security): escape untrusted SQS/DLQ data before writing to the DOM
  internal/static/files/modules/queueBrowser.js
  internal/static/files/modules/queueStatistics.js
  test/xssEscaping.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: address CodeRabbit follow-up findings from the frontend consolidation
  Makefile
  internal/static/files/modules/keyboardNavigation.js
  internal/static/files/modules/queueManager.js
  internal/static/files/modules/queueStatistics.js
  internal/static/files/modules/sqsApp.js
  internal/static/files/modules/themeManager.js
  test/coderabbitFollowups.test.js
  test/messageOrdering.test.js
  test/queueStatistics.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(theme): apply OS theme changes without persisting in watchSystemTheme
  internal/static/files/modules/themeManager.js
  test/coderabbitFollowups.test.js
Due: eslint --fix --max-warnings 0, prettier --write

feat(stats): mount the QueueStatistics panel on app init
  internal/static/files/modules/sqsApp.js
  test/mountStatistics.test.js
Due: eslint --fix --max-warnings 0, prettier --write

fix(browser): thread pagination offset through to the backend
  internal/sqs/sqs.go
  internal/static/files/modules/apiService.js
  internal/static/files/modules/queueBrowser.js
  test/apiService.test.js
  test/queueBrowserPagination.test.js
Due: eslint --fix --max-warnings 0, prettier --write, gofmt -w, goimports -w

fix(sqs): clamp receive count safely and allow demo deep offsets
  internal/sqs/sqs.go
  internal/sqs/sqs_test.go
Due: gofmt -w, goimports -w

Path conditions:
  eslint --fix --max-warnings 0: any of: *.js
  prettier --write: (((any of: *.js) or (any of: *.{html,css})) or (any of: *.{json,yml,yaml})) or (any of: *.md)
  gofmt -w: any of: *.go
  goimports -w: any of: *.go
